@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
h1{
    color: red;
    font-size: 45px;
}
   body{
       background: url('/Bablkvas.jpg'); background-size: cover;
   }
   .poppins{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: blue;
    text-align: left;
    text-decoration: line-through;
   }
.averia{
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 900;
    color: red;
    text-align: center;
    text-decoration: underline;
}
   .Bablkvas{
       width: 500px;
   }
   .Ivan{
       width: 500px;
   }
   .Ilya{
       width: 500px;
   }
   .makaka{
       width: 500px;
   }
   .Shelly{
       width: 500px;
   }
   .Bit{
       width: 500px;
   }
   .Giy{
       width: 500px;
   }
   .kaka{
       background: none;
   }
   .lol{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: black;
    text-align: right;
    text-decoration: overline;
   }
   .rer:hover{
    color: blueviolet;

   }
   
