h1{
    color: aquamarine;
    font-size: 45px;
}
   body{
       background: url('/Bablkvas.jpg'); background-size: cover;
   }
   .Bablkvas{
       width: 500px;
   }
   .Ivan{
       width: 500px;
   }
   .Ilya{
       width: 500px;
   }
   .makaka{
       width: 500px;
   }
   .Shelly{
       width: 500px;
   }